BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100
BreakBeforeBraces: Allman

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: true

SpaceBeforeParens: ControlStatements

AlignAfterOpenBracket: Align
AlignOperands: true

Cpp11BracedListStyle: true
Standard: c++20
